[2015-08-26 07:08] garaemon opened #3 "bag file to try autoware software-suites"
Is there any sample bag file to try autoware software-suites?

[2015-08-26 08:20] #3 closed, assigned to nobody

[2021-12-21 06:25] kenji-miyake opened #22 "Prepare a development environment for autoware.universe"
- [x] Set up https://github.com/autowarefoundation/autoware
- [x] Set up https://github.com/autowarefoundation/autoware_launch if necessary -> It was not mandatory.
- [x] https://github.com/autowarefoundation/autoware.universe/issues/204

[2021-12-27 02:13] kenji-miyake opened #6 "Consider the structure of sensor/vehicle description/launch"
Currently, sensor_kit description/launch are separated, but vehicle description/launch are combined, which is not consistent.

sensor_kit
- https://github.com/tier4/aip_description.iv
- https://github.com/tier4/AutowareArchitectureProposal_aip_launcher

vehicle
- https://github.com/tier4/lexus_description.iv

We can reconsider the structure and naming.

[2021-12-27 02:16] kenji-miyake commented on #6
FYI sensor_component: https://github.com/tier4/sensor_description.iv

[2022-01-08 19:03] kenji-miyake opened #13 "Storage space of ARM self-hosted runner is probably small"
https://github.com/autowarefoundation/autoware/runs/4749425172?check_suite_focus=true

[code]

Or, the capacity allocated for Docker images is too small.

[2022-01-14 13:32] kenji-miyake commented on #13
@xmfcx Have you said that you'll change the AWS machine settings in the last meeting? I don't remember well.

[2022-01-14 13:40] xmfcx commented on #13
Yes, I'll look into it right away!

[2022-01-14 18:06] xmfcx commented on #13
@kenji-miyake
Here is the report:

[autowarefoundation](https://github.com/autowarefoundation) organization has a [GitHub Actions Runner](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners) registered with a name `AutowareFoundationGithubActionsRunner`.

This runner runs on an AWS `t4g.xlarge` instance. [Amazon EC2 T4g instances are powered by Arm-based AWS Gravi

[2022-01-14 18:15] xmfcx commented on #13
Also for x86_64 jobs we are using [GitHub-hosted runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners):

![chrome_2022-01-14_21-12-13](https://user-images.githubusercontent.com/10751153/149564595-be89d035-18b0-478c-ae7b-1ae14b96fe9a.png)

Hardware specification for Windows and Linux virtual machines:

2-core CPU
7 GB of RAM memory
14 GB of SSD disk sp

[2022-01-15 04:44] kenji-miyake commented on #13
@xmfcx Thank you for your detailed report!

Hmm, it's too small... :cry:
I want at least 30GB of free space, is it possible to extend the storage size of the VM?

Regarding GitHub-hosted runners, I guess it's minimum requirements.
The actual storage space can be seen [here](https://github.com/autowarefoundation/autoware/runs/4777125097?check_suite_focus=true#step:3:23).

Anyway, if there's no prob

[2022-01-15 11:32] xmfcx commented on #13
I've increased the storage by 30GB, now we have 39GB empty space.

[code]

[2022-01-17 10:10] kenji-miyake opened #21 "Fix ARM build of scenario_simulator"
`libembree-dev` can't be installed on ARM.
https://github.com/autowarefoundation/autoware/pull/8#issuecomment-1014333684

- Build `embree` manually
- Run `rosdep install` with `--skip-keys=embree`

[2022-01-18 07:38] kenji-miyake commented on #13
I confirmed that the CI is fixed in https://github.com/autowarefoundation/autoware/pull/8#issuecomment-1015132292.

Thank you @xmfcx !

[2022-01-18 08:30] IshitaTakeshi opened #23 "[Docker] Edit files on host and execute on a container"
I'd like to propose the improvement on Dockerfile to modify the code on the host environment rather than on a container.

[Current Dockerfile on the add-docker branch](https://github.com/autowarefoundation/autoware/blob/add-docker/docker/autoware-universe/Dockerfile) expects to modify the code on a container rather than the host. But it is inefficient to set up the development environment and chan

[2022-01-18 09:03] IshitaTakeshi opened #24 "[Docker] lidar_centerpoint executable could not be built without LibTorch"
lidar_centerpoint cannot be built on Docker since the current Dockerfile doesn't install libtorch.

lidar_centerpoint [explicitly requires libtorch installation](https://github.com/autowarefoundation/autoware.universe/blob/tier4/proposal/perception/lidar_centerpoint/CMakeLists.txt#L71) to build the executable so we need to add the lines to download and install libtorch on the Dockerfile or ansible

[2022-01-18 09:12] kenji-miyake commented on #24
It's intended. Since the `libtorch` role only supports `x86` and uses TIER IV's Google Drive, I decided not to include it in this repository.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/ansible/roles/libtorch/tasks/main.yml#L5

Please install it from [TIER IV's proposal repository](https://github.com/tier4/AutowareArchitectureProposal.pr

[2022-01-18 09:12] #24 closed

[2022-01-18 09:14] kenji-miyake commented on #23
@IshitaTakeshi We prepare two images `devel` and `prebuilt`. I think using `devel` image can solve your problem. Is it okay for you?

https://github.com/autowarefoundation/autoware/tree/add-docker/docker#development-image

[2022-01-18 09:37] IshitaTakeshi opened #25 "[Docker] Autoware.universe requires kvaser-interface"
[The current Dockerfile](https://github.com/autowarefoundation/autoware/blob/add-docker/docker/autoware-universe/Dockerfile) doesn't install kvaser-interface even autoware.universe requires it

To install kvaser-interface we need to explicitly add the repository as in the [installation procedure](https://github.com/astuff/kvaser_interface#installation) so we need to update the ansible playbook

[2022-01-18 09:39] IshitaTakeshi commented on #23
For the development I think that the mount procedure should be written in README or we should add a script to realize it.

[2022-01-18 09:54] kenji-miyake commented on #25
@IshitaTakeshi Please describe for what reasons you need `kvaser-interface`.
Also, is it impossible to replace it with https://github.com/autowarefoundation/ros2_socketcan?

It seems Kvaser devices supports SocketCAN.
https://www.kvaser.com/socketcan-support-for-kvaser-devices-updated/

[2022-01-18 10:10] wep21 commented on #25
We have never used `ros2_socketcan` on autonomostuff vehicle, so we have to test on the real vehicle before migrating to `ros2_socketcan`.

[2022-01-18 10:20] kenji-miyake commented on #25
Okay, then I think we should test it. If it won't work we'll import the role from here.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/ansible/roles/pacmod/tasks/kvaser_library.yml

[2022-01-18 10:41] wep21 commented on #25
Also we have to do a trick to use kvaser usb as socketcan.
[code]

[2022-01-18 10:46] kenji-miyake commented on #25
Thank you. I think it can be supported by some setup scripts for real vehicles.

[2022-01-18 17:55] kenji-miyake commented on #13
@xmfcx I'm sorry but it seems we need a bit more space. :cry:
https://github.com/autowarefoundation/autoware/actions/runs/1712036308

Seeing this result, we need 55GB+ free space? :thinking:
https://github.com/autowarefoundation/autoware/actions/runs/1683139813
https://github.com/autowarefoundation/autoware/runs/4777125097?check_suite_focus=true#step:3:1110

You are running out of disk space. The

[2022-01-19 00:26] IshitaTakeshi commented on #25
This is the reason to add kvaser-interface to the requirements. When launching the logging simulator it says that kvaser_interface cannot be found.

[code]

[2022-01-19 01:24] kenji-miyake commented on #25
Why do you need `kvaser-interface` for the launch file?
Do you use a physical CAN in the simulation?

[2022-01-19 02:18] kenji-miyake commented on #13
I measured the storage usage before/after building Autoware Docker images. It used `44GB` for `amd64`.
https://github.com/autowarefoundation/autoware/runs/4857291024?check_suite_focus=true

![image](https://user-images.githubusercontent.com/31987104/150050900-c916e293-9a2a-412b-9d3f-1841f86a6b53.png)

[2022-01-19 02:24] kenji-miyake commented on #13
@xmfcx Is it possible to add more 10~20GB space...?

[2022-01-19 03:05] xmfcx commented on #13
We could add but I think we should first try to reduce the space we are using. This is ok for single runner but for parallel runners it'll cost too much, not scalable. In autoware.auto 30gb total space for entire machine was enough.

[2022-01-19 03:51] kenji-miyake commented on #13
What do you think we can specifically do in order to save the space?

Yes, but the current `autoware.universe` depends on CUDA, which uses additional 10GB+. :cry:

[2022-01-19 03:54] IshitaTakeshi commented on #25
Not sure so I grep-ed in the workspace directory and got the following

[code]

Apparently pacmod3 requires it.

[2022-01-19 04:40] IshitaTakeshi commented on #23
Still there are other updates to the docker environment and I have my personal tasks so let me show my launch command this time.

[code]

[2022-01-19 05:27] kenji-miyake commented on #25
I know it has the dependency, but my question is, why do you have to launch the node in the simulation?

[2022-01-19 05:33] IshitaTakeshi opened #27 "[Documentation] Commit message guidelines for cleaner commit history"
The current commit history is automatically generated when merging, but it creates many lines and makes it harder to catch up on what is going on. So I'd like to propose formulating a commit message guideline for better commit history.

I think we should explicitly define what we should include in the commit history and what we don't include. We can refer to other OSS contribution guidelines.

[2022-01-19 05:36] kenji-miyake commented on #27
- When do you confirm the commit history?
- What command do you?

Please give me a bit more concrete examples. :pray:

[2022-01-19 06:06] IshitaTakeshi commented on #25
What node do you refer to?

My current task is to improve the localization accuracy and availability so basically I don't need to launch all the nodes under the logging simulator, but for me, who doesn't know that much about the Autoware architecture, it is easier to launch the logging simulator than disabling unnecessary nodes.

[2022-01-19 06:22] kenji-miyake commented on #25
Probably this?
https://github.com/tier4/lexus_description.iv/blob/4a3a06e297f85a737d2b5879b508843b2998038a/launch/pacmod3_with_kvaser-node-launch.py

I believe it's better that you'll get familiar with Autoware and do appropriate handling!
I guess, for example, we need to add an option of whether to launch `kvaser-interface`, to [this file](https://github.com/tier4/lexus_description.iv/blob/4a3a06

[2022-01-19 06:28] IshitaTakeshi commented on #27
When exploring in which commit the changes have been made to interested parts, if the commit message has many lines it makes us harder to find what we are looking for.
Let's say someone made changes to the localization module, modified the NDT's optimization function, and I want to improve the functionality.
If commit message was like

[code]

I can not obtain any information from there.
If every

[2022-01-19 06:42] IshitaTakeshi commented on #25
Okay, but at least as an OSS it should be much better the logging simulator always works fine so when merging the Dockerfile to the default branch we should disable the node depending on `kvaser-interface` (or install `kvaser-interface`).

[2022-01-19 06:52] kenji-miyake commented on #27
@IshitaTakeshi Again, what command do you use? And please paste it with the output like this.
Also, why do you not use `--oneline`?

[code]

[2022-01-19 06:55] kenji-miyake commented on #25
@IshitaTakeshi Regarding that, I believe we should consider replacing `kvaser-interface` by `ros2_socketcan`.
https://github.com/autowarefoundation/autoware/issues/25#issuecomment-1015268018

Please understand that adding everything isn't always correct.

[2022-01-19 07:08] IshitaTakeshi commented on #27
I used the ordinary `git log`. So then I'm going to use `git log --oneline`

[2022-01-19 07:10] IshitaTakeshi commented on #27
This is the output. Too long to paste the whole though

[code]

[2022-01-19 07:50] kenji-miyake commented on #27
@IshitaTakeshi I see, thank you!

Then, how about using these useful tools? It helps you to explore the commit history.
- https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens
- https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph

Although these are for VSCode, there might be tools for your IDE.

[2022-01-19 07:54] xmfcx commented on #13
We won't use cuda on CI, we should make it optional.

[2022-01-19 07:57] kenji-miyake commented on #13
If so, we can't check the build of some perception modules in `autoware.universe`, is that okay?

[2022-01-19 08:01] xmfcx commented on #13
The CI machines don't have Nvidia gpus and CUDA only works on nvidia gpus so we couldn't check them anyway.

Instances with gpus are much more expensive, we could set them to be checked with lower frequency if needed.

[2022-01-19 08:04] kenji-miyake commented on #13
@xmfcx

Yes, we can't check the runtime behavior, but I think we can check the build.

We don't need GPUs.

[2022-01-19 08:41] kenji-miyake commented on #13
@xmfcx So considering that, can we increase the space or cannot in any case?

[2022-01-19 09:43] IshitaTakeshi commented on #27
Yeah but... It's like messing a library by ourselves and exploring a book from there. If the library is clean from the beginning we don't need to do so. And it can be realized by writing just two or three phrases when making a commit
Why making unnecessary jobs by messing our rooms by ourselves...

[2022-01-19 14:34] xmfcx commented on #13
@kenji-miyake right now it has 60GB size, will increase it to 80GB. Since it is only a single machine, it shouldn't be a problem hopefully.

[2022-01-19 14:43] xmfcx commented on #13
@kenji-miyake Increased it, current configuration:
[code]

[2022-01-19 15:25] kenji-miyake commented on #13
Thank you! But it seems there is another issue... :cry: I'll investigate and fix it.
https://github.com/autowarefoundation/autoware/actions/runs/1714127510

[2022-01-19 16:01] kenji-miyake commented on #13
[code]

[2022-01-19 16:03] xmfcx commented on #13
Yeah, I've also stated it in https://github.com/autowarefoundation/autoware/issues/13#issuecomment-1013343067 in collapsed logs.

[2022-01-19 16:05] kenji-miyake commented on #13
Oh, yes it was folded, sorry.

And after `docker system prune --all`

[code]

[2022-01-20 04:40] kenji-miyake commented on #13
@xmfcx Succeeded!
https://github.com/autowarefoundation/autoware/runs/4870569220?check_suite_focus=true

I'll try some more times to confirm there isn't an old and big cache left.

[2022-01-21 01:06] kenji-miyake opened #28 "Set up scenario testing CI"
As pointed out [here](https://github.com/autowarefoundation/autoware/pull/26#issuecomment-1016010614), it's useful if we can run scenario testing on CI.

We can use TIER IV's Autoware Evaluator for this use case.
In that case, we need to add `.webauto-ci.yml` to this repository.
https://github.com/tier4/AutowareArchitectureProposal.proj/blob/474da436880f93bd59d87107bd9d83254b0cd9b3/.webauto-ci.yml

[2022-01-21 06:03] kenji-miyake commented on #23
@IshitaTakeshi I updated the document, could you review it?
https://github.com/autowarefoundation/autoware/pull/14
https://github.com/autowarefoundation/autoware/pull/14/commits/6958e38ff15a2cea20f205d384a47c3574f75052

[2022-01-21 06:17] IshitaTakeshi commented on #23
Commands look good. Can I overwrite the English text part?

[2022-01-21 06:38] kenji-miyake commented on #23
@IshitaTakeshi Actually refrain from that, please propose changes instead. :pray:
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-request

[2022-01-24 01:43] #13 closed

[2022-01-25 03:43] kenji-miyake opened #30 "Consider how we should write copyright notices"
Opened by this comment: https://github.com/autowarefoundation/autoware/pull/29#discussion_r790972404

Reference links:
- https://opensource.google/docs/copyright/#the-year
- https://www.linuxfoundation.org/blog/copyright-notices-in-open-source-software-projects/
- https://www.apache.org/legal/src-headers.html
- https://www.apache.org/foundation/license-faq.html
- https://infra.apache.org/licensing

[2022-01-25 04:26] kenji-miyake commented on #30
I think we can refer to the `iceoryx`'s way as well. It looks nice.
https://github.com/eclipse-iceoryx/iceoryx/blob/master/NOTICE.md
https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md#header

[2022-01-25 06:11] kenji-miyake commented on #30
My proposal:

### For new files

Rule:

- Prepare `NOTICE.md` and use `Copyright yyyy The Autoware Contributors.`.

Rationale:

- As LF says, We don't want to pay a lot of maintenance costs for updating copyright notations.

### For existing files

Rule:

- Accept the as-is style.
- We can change the copyright notation to `Copyright yyyy The Autoware Contributors.` if we can agree with the origina

[2022-01-25 06:16] kenji-miyake commented on #30
@xmfcx @kmiya What do think about this?

[2022-01-25 08:03] kenji-miyake commented on #30
For this, I think it's a good idea to agree with people who want to write their names to `NOTICE.md`, that "if you want to write your name here, you have to remove your name from each Copyright notation or agree that the maintainers will remove them.", how about this?

[2022-01-26 12:57] LalithVipulananthan commented on #30
From looking at the Apache examples given, they all say "Copyright yyyy The Apache Foundation" rather than "The Apache Contributors".

Is there some reason why we cannot say `Copyright yyyy The Autoware Foundation` ?

[2022-01-26 13:06] kenji-miyake commented on #30
@LalithVipulananthan (Although I'm not sure I'm right...)

The ASF uses `Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.`.
https://www.apache.org/legal/src-headers.html

I guess why they do so is because they sign a CLA. (But I'm not sure.)

I feel if we use `The Autoware Foundation` then it seems the AWF has the copyright.
But actually, since we

[2022-01-27 05:12] kenji-miyake commented on #30
TSC members will talk about this issue.
https://gitlab.com/autowarefoundation/autoware-foundation/-/issues/204

[2022-01-31 09:41] xczhanjun opened #35 "enable open cda workflow"
enable open cda workflow

[2022-01-31 09:43] kenji-miyake commented on #35
@xczhanjun What's `open cda`?
Could you write a bit more description so that everyone can understand?

[2022-02-02 09:44] #22 closed

[2022-02-02 13:24] xczhanjun opened #42 "Enable RISC-V platform"
Open autoware with open RiSC-V chip may be a good idea.

[2022-02-02 13:43] kenji-miyake commented on #42
Could you write a bit more detailed description?

For example:
- How can we support it?
- What ECUs can we use?
- etc.

Also, since this isn't a bug but just an idea, I'll convert this to a discussion.

[2022-02-02 13:45] kenji-miyake commented on #23
@IshitaTakeshi Is it okay for you to close this issue?

[2022-02-02 13:48] kenji-miyake commented on #25
Acceptance Criteria:

- [ ] Consider replacing `kvaser-interface` by `ros2_socketcan`.
We need to evaluate `ros2_socketcan` with Kvaser devices to do that.

Or,
- [ ] Consider removing `kvaser-interface` from `logging_simulator.launch.xml`.
Essentially, no hardware is required for the simulation.

[2022-02-03 01:55] xczhanjun commented on #25
Maybe we should remove `kvaser-interface` from `logging_simulator.launch.xml` and using ros2_socketcan. We can setup a fake socket can interface when doing simulation.

[2022-02-03 03:27] IshitaTakeshi commented on #23
Yes. Thank you for commiting

[2022-02-03 03:27] #23 closed

[2022-02-03 14:56] xczhanjun commented on #28
this is a great feature.

[2022-02-21 01:14] kenji-miyake opened #65 "[Ansible] duplicated entries are written to nvidia-docker.list"
If I run `./setup-dev-env.sh docker` multiple times, duplicated entries are written.

[code]

[2022-02-21 01:22] kenji-miyake commented on #65
Probably this? https://github.com/ansible/ansible/issues/25286
Will try replacing `lineinfile` with `blockinfile` or `template`.

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/lineinfile_module.html#ansible-collections-ansible-builtin-lineinfile-module
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/blockinfile_module.html#ansible-collections-ansible-built

[2022-02-21 09:11] #65 closed

[2022-02-26 19:54] #25 closed

[2022-02-26 19:57] kenji-miyake commented on #27
I'll close this because there is no response and I think it's a problem of tool usage.

We use https://www.conventionalcommits.org/en/v1.0.0/ and `Squash merge` now. I'll write guideline documents about that and it's tracked in https://github.com/autowarefoundation/autoware-documentation/issues/6.

[2022-02-26 19:58] kenji-miyake commented on #6
Unified.
https://github.com/autowarefoundation/sample_vehicle_launch
https://github.com/autowarefoundation/sample_sensor_kit_launch

[2022-02-26 19:58] #6 closed

[2022-03-04 05:50] angry-crab opened #80 "Docker instructions for multiple terminal usage"
I'm wondering if there is any `cmd` existing in `universe` such that we could enter a specific docker container from another terminal. For example, when we were using `ade` in `Auto`, if an environment has been created, we can simply type `ade enter` from another terminal. I understand that we could use `docker exec --it container id` to enter the same image from another terminal. It seems that wh

[2022-03-04 06:09] kenji-miyake commented on #80
@angry-crab I think you can do it by this.

[code]

![image](https://user-images.githubusercontent.com/31987104/156709267-c9d625c0-c81e-4d36-9583-a88d515565b2.png)

[2022-03-04 06:14] kenji-miyake commented on #80
You can send pull requests and update documents.

Around here?
- https://github.com/autowarefoundation/autoware/blob/main/docker/README.md
- https://github.com/autowarefoundation/autoware-documentation/pull/28

Or you can guide a new how-to guide page like this.
- https://github.com/autowarefoundation/autoware-documentation/pull/27

[2022-03-07 03:01] angry-crab commented on #80
Thanks! I'll add it to the doc.

[2022-03-09 13:35] wep21 opened #84 "The location of autoware_auto_msgs"
Currently `autoware_auto_msgs` repository for `universe` and `core` is located in `tier4` group.
I think the repository should be in `autowarefoundation` group.

[2022-03-09 13:36] wep21 commented on #84
@xmfcx @mitsudome-r @kenji-miyake Thoughts?

[2022-03-09 13:39] xmfcx commented on #84
@wep21 Let's keep them there for now. We will discuss the final messages structure as we finalize the design. And recreate the repository in `autowarefoundation` group with the updated messages.

And we will switch to using them instead in the universe repository.

[2022-03-09 13:43] xmfcx commented on #84
The messages won't be `autoware_auto_msgs` anymore, I think we should name them `autoware_msgs` and update https://index.ros.org/p/autoware_msgs/github-autoware-ai-messages/ for our use case, what do you think?

Since we will only update the `galactic` and later, old messages could stay the way they are.

[2022-03-09 14:33] kenji-miyake commented on #84
I think so, too.
https://github.com/autowarefoundation/autoware.universe/issues/142
https://github.com/autowarefoundation/autoware/blob/47f8d0e15f9c327c1c45c9b726f9970e5edf2430/autoware.repos#L5

But I'll leave this issue to Fatih-san and Mitsudome-san.

[2022-03-11 01:33] kenji-miyake commented on #30
@filiperinaldi Thank you for your information.
Did you recommend replacing the `NOTICE` file with `CONTRIBUTORS.md`? Just showing another way?

[2022-03-11 15:27] kenji-miyake commented on #30
The PR has moved from #29 to https://github.com/autowarefoundation/autoware-documentation/pull/44.

[2022-03-12 04:39] kenji-miyake opened #90 "Add NOTICE files to each repository"
I'll change the name and year from https://github.com/autowarefoundation/autoware/blob/main/NOTICE depending on the repository's files.

- [x] autoware_common
- [x] autoware.core
- [x] autoware.universe
- [x] autoware_launch
- [x] sample_sensor_kit_launch
- [x] sample_vehicle_launch
- [x] autoware_individual_params
- [x] autoware-github-actions
- [x] autoware-documentation

---

FYI, to clone thes

[2022-03-12 06:08] kenji-miyake commented on #90
Seeing https://github.com/Autoware-AI/autoware.ai, it seems it was in `2017` that TIER IV started to commit as "TIER IV".

So, I'll use `2017` for the TIER IV's license notation in `autoware.universe`.

[code]

[2022-03-12 06:29] kenji-miyake commented on #90
For other repositories,
- autoware.core:
    - I won't add TIER IV's copyright yet because there is no code.
- autoware-documentation:
    - I won't add TIER IV's copyright because there is no code.
- autoware_launch/sample_vehicle_launch/sample_sensor_kit_launch/autoware_individual_params:
    - Use `2020`. (It is the timing we've published [our proposal](https://github.com/tier4/AutowareArchitec

[2022-03-12 06:39] kenji-miyake commented on #90
@xmfcx cc @mitsudome-r Could you confirm this?
We can wait for #30 and https://github.com/autowarefoundation/autoware-documentation/pull/44 before merging `NOTICE` files.

[2022-03-12 20:17] kenji-miyake commented on #30
As https://github.com/autowarefoundation/autoware-documentation/pull/44 is merged, I'll close this issue.

However, everyone can reopen this and propose a change if necessary.

[2022-03-12 20:17] #30 closed

[2022-03-13 05:44] kenji-miyake commented on #90
@xmfcx Thank you so much!

[2022-03-13 05:44] #90 closed

[2022-03-18 05:52] xczhanjun opened #106 "The lidar_centerpoint package can not download model automatically due to LIB_TORCH NOT FOUND"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

lidar_centerpoint model can not download model automatically due to LIB_TORCH NOT FOUND

### Expected behavior

lidar_ce

[2022-03-18 06:08] kenji-miyake commented on #106
Thank you for reporting this, but please wait for https://github.com/autowarefoundation/autoware.universe/pull/480 to be merged.

[2022-03-23 13:11] meliketanrikulu opened #113 "The origin value in the gnss_poser package cannot be set to any point other than the specified points in the package."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

It seems that in the gnss_poser package, the origin value is selected as one of the points separated only by japan coord

[2022-03-23 16:01] xmfcx commented on #113
Can you reopen this issue in https://github.com/autowarefoundation/autoware.universe/issues please?

[2022-03-23 16:01] #113 closed

[2022-03-29 07:21] angry-crab opened #128 "Vulkan driver fails to detect GPU"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

`vulkaninfo` cannot detect host GPU. This might cause simulator to crash in the future. This happens as I was trying to

[2022-03-30 06:36] angry-crab commented on #80
Close since it it no longer needed.

[2022-03-30 06:36] #80 closed

[2022-03-31 08:10] kenji-miyake opened #137 "Upgrade CUDA to 11.6 Update 2?"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

"All versions prior to CUDA Toolkit 11.6 Update 2" have a security risk.

https://nvidia.custhelp.com/app/answe

[2022-03-31 08:12] kenji-miyake commented on #137
@mitsudome-r @xmfcx @yukkysaito @esteve What do you think about this?

[2022-03-31 08:14] kenji-miyake commented on #137
It seems there is no `11.6` for `libnvinfer` yet.
https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/
![image](https://user-images.githubusercontent.com/31987104/161009115-272fd47c-558f-48bf-96c9-6a30a1672d69.png)

[2022-03-31 08:55] kenji-miyake commented on #137
Actually, I believe it's impossible. We have to wait for the release in any case.

Also, I'm concerned about the dependencies in https://github.com/autowarefoundation/autoware.universe.
@yukkysaito knows well about this.

[2022-04-01 06:14] IshitaTakeshi commented on #128
1. What task are you trying to do? Because usually I don't explicitly use Vulcan in rosbag simulation
2. What is the output of `nvidia-smi` on the host environment?

[2022-04-01 06:42] angry-crab commented on #128
I'm trying to start `svl` simulator. This Vulcan driver is a cross-platform GPU API released by nvidia. It was mainly used for graphics and simulation development. Most modern simulator depends on this API, such as `carla` and `svl`.

`nvidia-smi` outputs the correct information about GPU.

[2022-04-01 06:45] IshitaTakeshi commented on #128
So are you working on the main branch? Usually I'm working on tier4/proposal so there might be misunderstanding sorry

[2022-04-01 09:42] IshitaTakeshi commented on #128
Dockerfile seems the same but it copies files from the host so the Autoware code included in the docker container will be different

[2022-04-01 09:48] IshitaTakeshi commented on #128
But the container environment will be the same and in my environment CUDA seems to work correctly so something is wrong

[2022-04-05 17:58] yukkysaito commented on #137
To be sure, I am currently checking tit works properly with cuda 11.4.
After that, I will check it works with cuda11.6.

[2022-04-07 00:44] yukke42 commented on #106
@xczhanjun https://github.com/autowarefoundation/autoware.universe/pull/480 is merged, but the detected objects of lidar_centerpoint isn't published because of other problem.
Please try [the link](https://github.com/autowarefoundation/autoware.universe/issues/643#issuecomment-1090090877), to use lidar_centerpoint.

[2022-04-07 05:25] wep21 opened #155 "add allow-change-held-packages option after ansible 2.13 will be released"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

add allow-change-held-packages option [here](https://github.com/autowarefoundation/autoware/blob/909ec079764f7a

[2022-04-13 07:54] shmpwk opened #171 "Apply planning simulator to our urdf"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Related discussion: https://github.com/autowarefoundation/autoware/discussions/170

We are going to use our urd

[2022-04-15 00:49] kenji-miyake commented on #137
The new version should be available in both `x86_64(amd64)` and `sbsa(arm64)`.
https://github.com/autowarefoundation/autoware/pull/154#issuecomment-1099745019

https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/
https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/sbsa/

[2022-04-19 09:09] esteve opened #190 "Autoware.universe install fail on Jetson Xavier platform"
### Discussed in https://github.com/autowarefoundation/autoware/discussions/120

<div type='discussions-op-text'>

<sup>Originally posted by **jason914** March 25, 2022</sup>
Dear all,

I use the Jetson Xavier platform. It is ARM64 platform. The OS is JetPack 4.4 (Ubuntu 18.04).
I refer [https://autowarefoundation.github.io/autoware-documentation/main/installation/autoware/docker-installation/](ur

[2022-04-20 11:14] LalithVipulananthan opened #200 "Permission denied errors occur when building perception packages that require trained model ONNX files to be downloaded from Google Drive"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When doing a clean build of any perception packages that require trained model ONNX files (eg: `lidar_apollo_instance_se

[2022-04-20 11:34] yukkysaito commented on #200
Can i assign @eratostennis? :pray:

[2022-04-20 11:37] yukkysaito commented on #200
**Cause:**
If there are too many downloads, Google drive will limit the downloads with gdown.

**Temporary solution:**
 download manually the weight files from download links

[2022-04-21 11:21] esteve commented on #190
More progress, I managed to use `kpartx` to mount the first partition in the image and `chroot`ed in to inspect the `/` filesystem. However, running Docker from inside the `chroot` is not as easy, but I'll continue trying.

[2022-04-24 12:42] kenji-miyake commented on #137
I've created a helper tool to find CUDA versions.
https://github.com/kenji-miyake/find-cuda-versions

Now we can find if there are any corresponding versions to a certain CUDA version.

[code]

[2022-04-26 01:12] eratostennis commented on #200
I will prepare the model on another storage this week to avoid the limitation of google drive.

[2022-04-27 03:41] kenji-miyake opened #237 "[CI] github-release creates multiple releases for the same branch"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

With this branches/tags,
![image](https://user-images.githubusercontent.com/31987104/165434982-e1544dd7-1ac7-4c61-8988-9

[2022-04-27 04:11] kenji-miyake commented on #237
The `edit` command is introduced in v2.8.0 and the default version installed is v2.7.0. :pleading_face:
https://github.com/cli/cli/releases/tag/v2.8.0
https://github.com/kenji-miyake/autoware/runs/6187394858?check_suite_focus=true#step:8:4

[2022-04-27 04:41] kenji-miyake commented on #155
https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_13.html

[2022-04-27 04:53] kenji-miyake opened #238 "Support ROS 2 Rolling on Ubuntu 22.04"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

ROS 2 Humble will be released this May.
https://docs.ros.org/en/rolling/Releases/Release-Humble-Hawksbill.html

[2022-04-27 04:54] kenji-miyake commented on #238
@xmfcx @mitsudome-r @esteve I'll work on this with the help of @wep21.

[2022-04-27 09:58] esteve commented on #238
@kenji-miyake let me if there's anything I can help with, I'm happy to contribute code and review PRs.

[2022-04-28 05:22] kasperornmeck opened #353 "Docker Compose integration"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

From https://docs.docker.com/compose/:
_Compose is a tool for defining and running multi-container Docker appli

[2022-04-28 14:20] kenji-miyake opened #251 "Improve PlotJugger installation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

PlotJugger installation was added in #243.

But it has a problem, it can't be used if it's not released.
So if

[2022-04-28 14:27] kenji-miyake opened #252 "CUDA installation for ARM64 is broken for some reasons"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/runs/6212294556?check_suite_focus=true#step:6:4715

![image](https://user

[2022-04-28 15:12] kenji-miyake commented on #238
Since Humble is already available with `ros2-testing`, I'll test it, too.
https://docs.ros.org/en/humble/Installation/Ubuntu-Install-Debians.html

[2022-04-29 02:31] kenji-miyake opened #254 "CUDA GPG causes an error"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

See https://github.com/autowarefoundation/autoware_common/runs/6220775368?check_suite_focus=true#step:6:16

### Expected

[2022-04-30 07:21] kenji-miyake commented on #254
The commands users should run are:

[code]

https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&Distribution=Ubuntu&target_version=20.04&target_type=deb_network

[2022-04-30 07:38] #254 closed

[2022-04-30 07:41] kenji-miyake commented on #254
CI:
- https://github.com/autowarefoundation/autoware/runs/6238798725?check_suite_focus=true
- https://github.com/autowarefoundation/autoware/runs/6238798979?check_suite_focus=true

[2022-04-30 15:37] kenji-miyake commented on #252
Now it seems fixed.
https://github.com/autowarefoundation/autoware/runs/6238798979?check_suite_focus=true
https://github.com/autowarefoundation/autoware/runs/6238801834?check_suite_focus=true

[2022-04-30 15:37] #252 closed

[2022-05-02 09:13] shmpwk opened #263 "Fail to update a workspace"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I'm following [How to update a workspace](https://autowarefoundation.github.io/autoware-documentation/main/installation/

[2022-05-02 09:20] kenji-miyake commented on #263
@shmpwk Ah, yeah exactly. I'm sorry for my mistake. :bow:
Could you fix send a PR to fix this? :pray:

Strictly speaking, I believe `.gitignore` isn't related. It's because `~/autoware` is a Git repository. So you can also use `vcs pull --nested` to update the workspace.

[2022-05-02 09:30] shmpwk commented on #263
Thank you, I see.
Which do you lilke `vcs pull src` or `vcs pull --nested`?

[2022-05-02 09:33] shmpwk commented on #263
I've use former.
Close by https://github.com/autowarefoundation/autoware-documentation/pull/95

[2022-05-02 09:33] #263 closed

[2022-05-02 09:40] kenji-miyake commented on #263
Thank you for your PR!
I personally prefer `vcs pull src` because I've never used the `--nested` option.

[2022-05-02 10:46] #237 closed

[2022-05-02 13:27] esteve commented on #190
According to https://github.com/orgs/autowarefoundation/discussions/255#discussioncomment-2664151 upgrading to Jetpack 5.0 fixes any CUDA-related issues. @jason914 could you try upgrading to Jetpack 5.0 and see if you can run Autoware? Thanks.

[2022-05-06 08:33] Sharrrrk opened #272 "Run setup-dev-env.sh docker failed"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I run setup-dev-env.sh docker for the first time, the following error occurs:

[code]

### Expected behavior

The s

[2022-05-06 08:41] kenji-miyake commented on #272
@Sharrrrk Thank you for reporting this.
- What's your Ansible version?
https://github.com/autowarefoundation/autoware/blob/af25faddd16bf8f9a1bace814b0f82e020803f5b/setup-dev-env.sh#L98-L99
- Is `$HOME/.local/bin` in your PATH?

[2022-05-06 08:48] Sharrrrk commented on #272
@kenji-miyake I was just updating my description, yes you are right, ansible is installed by a user account, not root account. But the version check passes.

[2022-05-06 09:07] kenji-miyake commented on #272
@Sharrrrk I see, thank you. Could you update the script to work in your environment? Or should I help something?

[2022-05-06 09:08] kenji-miyake commented on #272
By the way, I'm thinking of removing `sudo` from `pip` install. 92c356754133b8414d5a0feef04fb51227547bda
Is that related to this issue?

[2022-05-06 09:12] Sharrrrk commented on #272
I can quick fix it with `sudo pip3 install ansible`.

This definitely would solve this issue. Thank you.

[2022-05-06 09:12] #272 closed

[2022-05-09 04:54] Sharrrrk commented on #190
@esteve I just tested using Jetson AGX Xavier with JetPack 5.0 (Ubuntu 20.04) and latest arm64 docker image, after a minor fix [869](https://github.com/autowarefoundation/autoware.universe/pull/869), build success without errors.
`Summary: 195 packages finished [1h 54min 26s]Summary: 195 packages finished [1h 54min 26s]`

CUDA and OS version as below:
[code]

[2022-05-09 06:07] mengmenghu211 opened #276 "build faild"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

--- stderr: traffic_light_classifier
CMake Error at ament_cmake_symlink_install/ament_cmake_symlink_install.cmake:100 (m

[2022-05-09 06:07] #276 closed

[2022-05-09 07:54] Sharrrrk commented on #190
Have the same behavioir

[2022-05-12 10:10] shmpwk commented on #276
If you can describe
- your version of OS , cuda version, cudnn, TensorRT and etc,
- the command the error reproduced
we are very helpful since we can share the problem.

[2022-05-14 09:42] kenji-miyake commented on #251
I'll add an `exec_depend` after #300 is merged.

[2022-05-17 15:25] xmfcx opened #307 "Tensorrt_yolo issue in autoware universe"
### Discussed in https://github.com/orgs/autowarefoundation/discussions/229

<div type='discussions-op-text'>

<sup>Originally posted by **amtommy** April 26, 2022</sup>
Hello!
I tried to run the tensorrt_yolo, but I got the incorrect detection results. (see [figure](https://drive.google.com/file/d/1tUNgs4lruQ_18EGAlDkF4ar3d-EDBPut/view?usp=sharing))
How to fix it?

Thank you! </div>

[2022-05-21 00:56] brkay54 opened #321 "Add Ccache into docker image to speed up recompilation"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

In autoware documentation page, [Ccache](https://ccache.dev/) is recommended to speed up recompilation. See [he

[2022-05-21 01:00] brkay54 commented on #321
@kenji-miyake Should we add Ccache into docker image? What do you think?

[2022-05-21 16:59] kenji-miyake commented on #321
@brkay54 Yes, I think it's possible. Could you send a PR like plotjuggler?

[2022-05-21 18:41] #321 closed

[2022-05-22 15:41] kenji-miyake commented on #238
I'll support Humble in another branch/PR.

[2022-05-22 15:41] #238 closed

[2022-05-22 16:52] kenji-miyake opened #329 "Support ROS 2 Humble"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

A follow-up for #238.

### Purpose

To support ROS 2 Humble.

### Possible approaches

Improve #239.

### Defin

[2022-05-23 16:54] kenji-miyake opened #343 "Make the Docker image size smaller"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

After https://github.com/autowarefoundation/autoware/pull/340, the image size is too large because unnecessary

[2022-05-23 17:25] kenji-miyake commented on #343
Related:
- https://github.com/Autoware-AI/docker/blob/0d808605034faf5470b00e9a1db73307c400111b/generic/Dockerfile.cuda.melodic
- https://github.com/NVIDIA/TensorRT/blob/main/docker/ubuntu-20.04.Dockerfile
- https://gitlab.com/nvidia/container-images/cuda/-/blob/master/dist/11.6.2/ubuntu2004/devel/Dockerfile

Thank you for your support @wep21!

[2022-05-24 02:40] kenji-miyake commented on #343
I'll apply https://gitlab.com/nvidia/container-images/cuda/-/blob/master/dist/11.6.2/ubuntu2004/devel/Dockerfile#L56.

[2022-05-24 03:06] #343 closed

[2022-05-24 03:33] kenji-miyake commented on #343
Actually, the image size wasn't such a big problem. It's important to have a common base for CUDA libraries.
I'll create another issue.

[2022-05-24 05:03] hakuturu583 opened #351 "resolve libzmqpp-dev package in Ubuntu 22.04"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

scenario_simulator_v2 depends on [libzmqpp-dev package](https://packages.ubuntu.com/focal/libzmqpp-dev) in ubun

[2022-05-24 06:18] kenji-miyake opened #352 "Use a common base image for CUDA libraries"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Currently, we install CUDA using `setup-dev-env.sh`, but it creates different layers and enforces people to pul

[2022-05-24 10:21] kenji-miyake opened #357 "[Humble] arm64 build fails"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/runs/6556147878?check_suite_focus=true#step:7:5706

[code]

### Expected

[2022-05-24 11:16] xmfcx commented on #357
I've reproduced this and now working on it.

[2022-05-24 11:48] xmfcx commented on #357
I've applied change from https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/merge_requests/1357/diffs#76174e89c5600d934d9dd62a01ca0159e7e0d42a_35_38 and it compiled fine.

created pr in the package: https://github.com/tier4/grid_map/pull/2

[2022-05-24 11:48] xmfcx commented on #357
Once the PR is merged, we can close this issue.

[2022-05-24 12:22] xmfcx commented on #357
Created https://github.com/ANYbotics/grid_map/pull/349

[2022-05-24 12:34] kenji-miyake commented on #357
I've confirmed it's resolved. Thanks!

[2022-05-24 12:34] #357 closed

[2022-05-26 09:46] esteve commented on #21
@kenji-miyake what do you think of having an `embree_vendor` package and have `scenario_simulator` depend on it? If `libembree-dev` is installed on the system, that'll be used, and if not, build it.

[2022-05-26 12:05] kenji-miyake commented on #21
@esteve I think it's great! @hakuturu583 What do you think?

[2022-05-26 15:26] hakuturu583 commented on #21
I arleady developed embree_vendor package, but it takes a lot of time.

https://github.com/OUXT-Polaris/embree_vendor

[2022-05-26 15:27] hakuturu583 commented on #21
And also, I have not tested this vendor package on arm CPU.

[2022-05-27 05:58] plane-li opened #372 "Analyze the execution time of the function nodes"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We have done some work to analyze and calculate the execution time of the function nodes using the ros2_tracing

[2022-05-27 09:08] eratostennis commented on #200
@LalithVipulananthan

In this pull request I moved ml models to another storage.
I don't think the same problem will occur.

If it's good for you, please close this issue.

[2022-05-27 13:05] esteve opened #373 "Move external repositories to src/external in the .repos file"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

As described in https://github.com/autowarefoundation/autoware/pull/370#discussion_r883577259= it makes sense t

[2022-06-01 07:05] JianKangEgon commented on #372
For the control module, I focus on two controllers (MPC for lateral and PID for longitudinal). These data were collected under two different status. See following for details:

![statistics_tracing_control](https://user-images.githubusercontent.com/87111711/171346894-625b7c1a-36f4-40d9-b43e-3433572e00dd.png)

![still](https://user-images.githubusercontent.com/87111711/171346919-d183c145-6a37-42b2-

[2022-06-06 07:44] vios-fish opened #395 "Add configuration file for TIER IV CI/CD Pipeline"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I add configuration file for TIER IV's CI/CD Pipeline.
The configuration file can contain the following
- Build

[2022-06-08 00:54] yukke42 opened #402 "CUDA environment is broken when I run a docker container with rocker"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

When I run a docker container built on this repository with rocker, `nvidia-smi` and CUDA packages of autoware.universe

[2022-06-08 08:58] ambroise-arm commented on #128
The nvidia vulkan library needs to be registered for it to be discovered when running a vulkan program.
In Autoware.Auto we were adding the necessary file to the docker environment here: https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/blob/e3e26be1ab4b822996df60f261d031d7924f20ac/tools/ade_image/Dockerfile#L100

Replicating this in the .universe environment (changing /etc/vulkan

[2022-06-08 11:27] mikechan0731 opened #406 "Can't launch lidar_centerpoint with error: could not load library: libcenterpoint_cuda_libraries.so."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I use a custom docker image and want to try using ros2 lidar_centerpoint.
It has been successfully established so far, b

[2022-06-10 06:11] yukke42 commented on #406
I'll check with your docker image.

[2022-06-10 06:14] #200 closed

[2022-06-10 06:38] #106 closed

[2022-06-10 07:57] yukke42 commented on #406
@mikechan0731
I successfully launch lidar_centerpoint in my environment.

[code]

![Screenshot from 2022-06-10 16-54-41](https://user-images.githubusercontent.com/24660808/173018585-b0160dfc-14a3-419a-a02d-e67b4e65a24b.png)

Cloud you describe your CUDA environment in more detail?

[2022-06-13 02:20] mikechan0731 commented on #406
Hi! @yukke42

Thank you so much for your test, it seems that there is no problem with this docker file, the problem is my GPU, I will try it with a different computer.

My GPU itself is nvidia RTX2080

Local environment driver = 440 , cuda = 10.2 (as shown)
![圖片](https://user-images.githubusercontent.com/10561543/173267994-2fc12735-961b-4ee7-a973-3e49477496de.png)

The environment enabled in docke

[2022-06-15 04:53] yukke42 commented on #406
@mikechan0731

This error might be caused by the version mismatch that local cuda driver doesn't support cuda 11.1.

[2022-06-15 08:55] #373 closed

[2022-06-15 23:38] LalithVipulananthan commented on #353
For the Perception PoC, to build all dependent components for perception, use the following command:
`colcon list --packages-up-to tier4_perception_launch`

[2022-06-17 09:17] cyn-liu commented on #372
For the localization module, we analyzed the running time of multiple nodes and container such as pose_initializer, ndt_scan_matche, ekf_localizer, etc., and specific results are as follows:
![image](https://user-images.githubusercontent.com/104069308/174268153-0c352075-d4fc-4716-9dc1-6697ddec14c5.png)

[2022-06-19 01:20] kenji-miyake commented on #28
Closed by #397.

[2022-06-19 01:20] #28 closed

[2022-06-19 01:24] kenji-miyake commented on #84
Move to https://github.com/autowarefoundation/autoware_msgs/issues/2.

[2022-06-19 01:24] #84 closed

[2022-06-20 03:29] LevieSun commented on #402
I get the same problem

[2022-06-20 03:37] kenji-miyake commented on #402
I think this will be resolved after we change the base image to [11.7.0-devel-ubuntu22.04](https://hub.docker.com/layers/cuda/nvidia/cuda/11.7.0-devel-ubuntu22.04/images/sha256-16c790bc3349d70a0416cf8bf1eef9b40433ee907018b5ea32bdbddf75433a9d?context=explore).

But to do that, the network installation packages of cuDNN and TensorRT should be released.
https://developer.download.nvidia.com/compute/c

[2022-06-20 03:54] LevieSun commented on #402
Do you have any other method to solve this problem?

[2022-06-20 04:47] kenji-miyake commented on #402
Regarding `nvidia-smi`, I guess it's fixed by installing `nvidia-utils`.

[code]

Regarding `cudaErrorInsufficientDriver`, I'm sorry but I'm not sure. :pleading_face:
I need to investigate the issue to catch up.

[2022-06-20 06:10] may012345 commented on #402
I also encontered the similar problem. When I run "colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release" in the container of "ghcr.io/autowarefoundation/autoware-universe:latest" image  , I found "CUDA_TOOLKIT_ROOT_DIR not found or specified
CUDA NOT FOUND
TensorRT is NOT Available
CUDNN is NOT Available" error. It seems the container could not find CUDA. How do I fix this proble

[2022-06-20 06:10] may012345 commented on #402
I also encontered the similar problem. When I run "colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release" in the container of "ghcr.io/autowarefoundation/autoware-universe:latest" image , I found "CUDA_TOOLKIT_ROOT_DIR not found or specified
CUDA NOT FOUND
TensorRT is NOT Available
CUDNN is NOT Available" error. It seems the container could not find CUDA. How do I fix this problem

[2022-06-20 06:16] kenji-miyake commented on #402
@may012345 Seeing @yukke42 -san's comment, I guess you can run Autoware using pure `Docker`, not `rocker`.

[2022-06-20 06:25] yukke42 commented on #402
Yes. I could run autoware with a`docker run` command and a image built locally following the official tutorial.

[code]

[2022-06-20 06:26] may012345 commented on #402
I run with "rocker --nvidia --x11 --user --volume $HOME/autoware -- ghcr.io/autowarefoundation/autoware-universe:latest" and met the problem.

[2022-06-20 06:26] may012345 commented on #402
I run with "rocker --nvidia --x11 --user --volume $HOME/autoware -- ghcr.io/autowarefoundation/autoware-universe:latest" and met the problem.

[2022-06-21 13:22] xmfcx opened #434 "Create separate containers for testing Open AD Kit"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

I will create 2 docker containers that will pull the universe and build selected packages separated by their ba

[2022-06-22 06:23] LalithVipulananthan commented on #434
The original issues created for this work are below:
- https://github.com/autowarefoundation/autoware/issues/353
- https://github.com/autowarefoundation/autoware-documentation/issues/101
- https://github.com/autowarefoundation/autoware-projects/issues/36
- https://github.com/autowarefoundation/autoware-projects/issues/37

The top two issues relate to creating some kind of automated build process f

[2022-06-22 17:33] wep21 commented on #351
I think we can close this issue now that #350 is closed.

[2022-06-23 01:00] #351 closed

[2022-06-24 03:28] mikechan0731 commented on #406
Hi, I test new env with nvidia driver 470. lidar_centerpoint is built without error, but it still show  msg when I try to launch it:
![image](https://user-images.githubusercontent.com/10561543/175455081-3ecd8d67-9bdc-4b82-8bfb-d5b93e2cb6b7.png)

I use `colcon build --continue-on-error` and 150 package is built.
![image](https://user-images.githubusercontent.com/10561543/175455257-4e7315cd-ecd4-4a2

[2022-07-15 07:50] Soohyeok-Park opened #2739 "Append morai_msgs package related to testing codes about checking simulator compatibility"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

The pull request ([PR link](https://github.com/autowarefoundation/autoware.universe/pull/1107)) has been approv

[2022-08-16 05:13] kenji-miyake opened #2796 "Docker images aren't pushed from scheduled jobs"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

The `push` condition is `false` in scheduled jobs.
https://github.com/autowarefoundation/autoware/runs/7830173853?check_

[2022-08-16 05:30] kenji-miyake opened #2797 "Installation of ros-humble-desktop fails"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Installation of `ros-humble-desktop` fails.
https://github.com/autowarefoundation/autoware/runs/7851163697?check_suite_f

[2022-08-16 05:32] kenji-miyake commented on #2797
I'll wait for tomorrow's sync.
https://discourse.ros.org/t/preparing-for-humble-sync-2022-08-17/26882

[2022-08-16 07:36] kenji-miyake commented on #2796
`github.event.repository.default_branch` is missing in scheduled events.
https://github.com/kenji-miyake/test-scheduled-event/runs/7852886603?check_suite_focus=true#step:2:1
https://github.com/kenji-miyake/test-scheduled-event/blob/24a7d885dade873eeea05bb8cc6e483e3389c0f7/.github/workflows/test.yaml#L13

[2022-08-16 07:49] kenji-miyake commented on #2796
Maybe this? https://github.com/community/community/discussions/12269
-> Seems resolved: https://github.blog/changelog/2022-09-27-github-actions-additional-information-available-in-github-event-payload-for-scheduled-workflow-runs/

[2022-08-16 08:08] kenji-miyake commented on #2796
Tentative if-condition: https://github.com/kenji-miyake/test-scheduled-event/blob/5cb9ce073e7f781c600baa425a8bc87e6002658b/.github/workflows/test.yaml#L20

Test results:
- workflow_dispatch: https://github.com/kenji-miyake/test-scheduled-event/runs/7853325421?check_suite_focus=true
- schedule: https://github.com/kenji-miyake/test-scheduled-event/runs/7853359987?check_suite_focus=true

[2022-08-16 09:24] #2796 closed, assigned to kenji-miyake

[2022-08-17 01:17] kenji-miyake commented on #2797
I think it's resolved now.

[2022-08-17 01:17] #2797 closed, assigned to nobody

[2022-08-26 11:22] Yousef-Alhattab opened #2819 "sending output via udp"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

i have managed to run autoware in jetson AGX and everything seems to work well!
the only thing I am looking for

[2022-08-28 21:39] Croquembouche opened #2821 "Autoware.Universe Docker Installation Procedures are wrong"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Hi,

The current steps for install Autoware.Universe via docker is wrong. The manual is hosted on Autoware's website and

[2022-08-28 22:35] maxime-clem commented on #2821
Thank you for opening this issue.
I found 2 different instruction pages about running Autoware with Docker:
- Documentation repository: https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/installation/autoware/docker-installation.md
- Autoware repository: https://github.com/autowarefoundation/autoware/blob/main/docker/README.md

~Your issue seems to be that the instructions

[2022-08-29 13:23] Croquembouche commented on #2821
Hi Max,

Both of these documentations are wrong. They have the wrong option for rocker and the wrong Autoware docker image.

The part to verify that docker is installed correctly is also wrong because NVIDIA changed their wording recently.

Yes, I think there should only be 1 installation documentation to avoid confusion.

[2022-08-31 03:10] maxime-clem commented on #2821
Can you please post more details about the issues you had and how you fixed them ?

The images were recently updated and now need to be suffixed with `-cuda` (you can find the list of images here: https://github.com/autowarefoundation/autoware/pkgs/container/autoware-universe/versions?filters%5Bversion_type%5D=tagged). Could it have been the cause of some of your issues ?

Once you share more deta

[2022-09-05 03:12] Sharrrrk opened #2840 "Reduce docker image size for runtime usages"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description
Originated from discussion  posted by @kasperornmeck in https://github.com/autowarefoundation/autoware/discussio

[2022-09-05 10:04] msanchezvicom commented on #2821
Hi @maxime-clem @Croquembouche ,

could you finally find a way to correctly install Autoware?

Thanks

[2022-09-05 10:58] maxime-clem commented on #2821
I followed the instructions from https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/installation/autoware/docker-installation.md with a fresh clone. I installed the dependencies using Ansible and ran in a amd64 architecture with a NVIDIA GPU.

I had no issue until building Autoware where I had the following error caused by missing dependencies:
[code]
I installed the missi

[2022-09-06 23:46] Croquembouche commented on #2821
Hi,

Sorry for the late response. I tried the same instructions. But updating dependencies gave me "invalid-cross device id" when installing nvidia, cuda, and tensorrt. Manual install also resulted in this error.

The reason I discovered was that rocker's --cuda option is not available for 0.2.10 version.

I'll upload the instructions that worked for me tomorrow when I get to the lab.

Best,
Willi

[2022-09-07 00:35] maxime-clem commented on #2821
You are right `rocker` does not support option `--cuda` but I am also using version `0.2.10` and I did not have issue.
I cannot find any use of the option `--cuda` in the commands listed in the instructions but maybe it was recently changed.
I am not sure what the `invalid-cross device id` could be. I will wait for more details.

[2022-09-07 03:23] kenji-miyake opened #2849 "[ansible/plotjuggler] "AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'""
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/runs/8218446759?check_suite_focus=true#step:4:10985

[code]

### Expected

[2022-09-07 05:17] kenji-miyake commented on #2849
https://hub.docker.com/_/ubuntu

Old

[code]

New

[code]

[2022-09-07 06:31] kenji-miyake commented on #2849
minimal code to reproduce this problem:

[code]

[2022-09-07 06:34] kenji-miyake commented on #2849
This is okay, so some necessary files for ansible are overwritten by python3-openssl (which is installed by ROS).

[code]

[2022-09-07 07:16] kenji-miyake commented on #2849
This was okay.

[code]

Considering the following result, the problem is:
- If `python3-openssl` is installed before Ansible, Ansible won't install `cryptography`.
- If `python3-openssl` isn't installed before Ansible, Ansible will install `cryptography`.
  - And if we install `python3-openssl` after that, the APT version of `cryptography` is newly installed and referenced from `pip`, which causes

[2022-09-07 07:54] #2849 closed, assigned to kenji-miyake

[2022-09-07 17:02] Croquembouche commented on #2821
Hi,

The invalid cross device id comes when you update the nvidia drivers within the docker. Because rocker uses the gpu data from the host pc, and the autoware docker uses cuda 10.1 (latest cuda version is 11.7) and needs to be updated, the installer will try to update the driver on the host pc, resulting in invalid cross device id.

This issue has been solved in another issue.

I'll attach the d

[2022-09-07 17:06] Croquembouche commented on #2821
Steps to use Autoware.Universe in Docker(Rocker):

1. Use this image ghcr.io/autowarefoundation/autoware-universe:galactic-latest-cuda. This image includes cuda 11.6, TensorRT, and CudaDNN.
2. start rocker using this command, "rocker --nvidia --x11 --user --env NVIDIA_DRIVER_CAPABILITIES="" -- ghcr.io/autowarefoundation/autoware-universe:galactic-latest-cuda". This will allow the host gpu to be us

[2022-09-07 17:08] Croquembouche commented on #2821
I tried installing the dependencies with ANSIBLE. With the current listed docker image, I still receive an invalid cross device id when it tries to install/update cuda and the relevant nvidia drivers.

[2022-09-09 09:29] maxime-clem commented on #2821
After some offline discussion, I was able to better understand the issue.
- Installation of the **CUDA drivers on the host machine is missing** from the Docker installation instructions and from the Ansible playbook.

Currently, if someone starts from a fresh install of Ubuntu 20.04 and simply follows the Docker installation instruction, the CUDA drivers will be missing.
This can be solved by inst

[2022-09-10 01:56] Sharrrrk commented on #2840
With docker image built from nvidia/cuda:11.4.0-runtime-ubuntu20.04, and runtime dependencies installed for autoware, the disk usage of `/usr/local/cuda-11.4` folder could be reduced by 2.2GB.

Original:   `4.0G    /usr/local/cuda-11.4`
New:        `1.8G    /usr/local/cuda-11.4`

DNN related runtime dependencies:
- `libcudnn8`
- `libnvinfer8`
- `libnvinfer-plugin8`
- `libnvonnxparsers8`
- `libnvpa

[2022-09-10 10:06] Sharrrrk commented on #2840
Currently I'm thinking of two approaches of this work:

- Reduce size of `prebuilt` image
  Considering the prebuilt images is for users to try out Autoware quickly, dev environment could be remove from it.

- Keep current `prebuilt` image and build another `runtime` image
  This allows users to rebuild partial of Autoware, not the whole project using prebuilt image, then runtime image may be prov

[2022-09-10 10:22] kenji-miyake commented on #2840
@Sharrrrk Thank you for investigating this issue!
I totally agree with you, and either option seems okay. The first option would be better as a first step because it's simpler.

[2022-09-11 21:32] kaspermeck-arm commented on #2840
@Sharrrrk thanks for taking this on!

For inspiration, you could take a look at the images layers which ROS and NVIDIA have used to create their Docker images. See
* https://github.com/osrf/docker_images/blob/3f4fbca923d80f834f3a89b5960bad5582652519/ros/galactic/ubuntu/focal/ros-core/Dockerfile
* https://hub.docker.com/layers/nvidia/cuda/11.4.2-runtime-ubuntu18.04/images/sha256-9fd4770341bd8f2cd75

[2022-09-14 13:43] Sharrrrk commented on #2840
Hi @kasperornmeck, I looked into the docker file of Nvidia and ROS, Nvidia used a script from outside to install all the packages, and for ROS, it's just like what have been implented in current ansible script. So I would say that use nvidia runtime docker image as base would be a good and neat approach. I will modify the ansible srcipts (add a variant that only installs runtime dependencies) and

[2022-09-15 03:03] Sharrrrk commented on #2840
Hi @kasperornmeck, I looked into the docker file of Nvidia and ROS, Nvidia used a script from outside to install all the packages, and for ROS, it's just like what have been implented in current ansible script. So I would say that use nvidia runtime docker image as base would be a good and neat approach. I will modify the ansible srcipts (add a variant that only installs runtime dependencies) and

[2022-09-15 07:45] mitsudome-r commented on #2819
As mentioned in the [support guideline](https://autowarefoundation.github.io/autoware-documentation/main/support/support-guidelines/#github-issues), we are using Github issue as a place to track bugs and tasks. If you have question, GitHub Discussions is a better place.
https://github.com/autowarefoundation/autoware/discussions/categories/q-a

As a short answer to your question, if you want to see

[2022-09-15 12:18] Yousef-Alhattab commented on #2819
I opened it the same day I posted this issue!
https://github.com/autowarefoundation/autoware/discussions/2818

could that happned with ROS1?

[2022-09-19 15:09] kaspermeck-arm commented on #2840
Hi @Sharrrrk
I was installing the NVIDIA driver using the runfile (local) method. You might already be aware of this but you can install only the driver, or any of the other software by selecting/deselecting, e.g., all the runtime dependencies.

[code]

[2022-09-20 07:57] Sharrrrk commented on #2840
Hi @kasperornmeck  thanks for the information, I will compare the docker size between manually install and cuda-runtime.

[2022-09-20 07:58] Sharrrrk commented on #2840
Currently I have started to change Dockerfile and ansible scripts, the main ideas:
-  Use cuda runtime images as base
-  Only runtime packages of TensorRT are installed
-  Only minimal set of ROS packages are installed
-  Multistage image build, copy install folder

[2022-09-20 16:27] mitsudome-r commented on #2819
Checkout http://wiki.ros.org/ROS/Tutorials/MultipleMachines

[2022-09-21 12:50] xmfcx opened #2883 "Autoware humble doesn't compile without CUDA"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

Is there a flag to disable CUDA? I couldn't find one in the documentation.

I've also gone through the https://github.co

[2022-09-21 13:03] kenji-miyake commented on #2883
@xmfcx Could you rerun `rosdep install`? It seems new dependencies were added.

[2022-09-21 13:04] kenji-miyake commented on #2883
The no-CUDA build passes in CI.
https://github.com/autowarefoundation/autoware.universe/actions/workflows/build-and-test.yaml

[2022-09-21 13:10] xmfcx commented on #2883
Hmm it installed
[code]

Now it seems to be working. Thanks for the help.

[2022-09-21 13:10] #2883 closed, assigned to kenji-miyake, wep21

[2022-09-29 00:37] kenji-miyake opened #2907 "[CI] `pipx install ansible` fails on the self-hosted runner."
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

https://github.com/autowarefoundation/autoware/actions/runs/3143361840/jobs/5108006897

### Expected behavior

No error.

[2022-10-04 15:35] jfkkf123 commented on #2821
Hi,
I install autoware via rocker following the instructions from [https://github.com/autowarefoundation/autoware-documentation/blob/main/docs/installation/autoware/docker-installation.md]. When I `colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release` </br> I meet a problem </br>
[code]
what should i do to fix this problem? </br>
I find the cudnn and tensorrt files (.h .so) in th

[2022-10-04 16:30] maxime-clem commented on #2821
If you followed the instructions I am not sure what could be the issue.
- Do you run `colcon build` _inside_ the Docker container ?
- Did you install the dependencies with `./setup-dev-env.sh` on the _host_ (not inside the Docker container) ?
- Are you using a AMD64 architecture with a NVIDIA GPU ?

[2022-10-06 04:23] maxime-clem commented on #2821
This error is probably caused by the following missing package: `ros-galactic-tensorrt-cmake-module`.
Missing packages can be installed with the following command:
[code]

[2022-10-07 14:26] jfkkf123 commented on #2821
I update the docker image autoware-universe:latest-cuda and dependent ROS packages. Now everything is OK. Thank you.

[2022-10-11 15:01] xmfcx opened #2935 "Running pre-commit on local machine gives error"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I'm having issues running pre-commit following these instructions:
- https://autowarefoundation.github.io/autoware-docum

[2022-10-11 19:03] kenji-miyake commented on #2935
@xmfcx I think it's https://github.com/pre-commit/pre-commit/issues/2336. Could you try these commands?

[code]

[2022-10-12 07:19] xmfcx commented on #2935
@kenji-miyake this fixed my problem, thanks!

[2022-10-12 07:19] #2935 closed, assigned to kenji-miyake

[2022-10-14 03:18] Yousef-Alhattab opened #2946 "finding out a general informantion"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

 is_dense: True
    min_point:
      header:
        seq: 1505
        stamp:
          secs: 1665717053

[2022-10-17 07:01] #2819 closed, assigned to nobody

[2022-10-27 20:44] kenji-miyake commented on #2907
Seeing the logs, it seems it fails if the OS version is different?
https://github.com/autowarefoundation/autoware/actions/workflows/build-humble-self-hosted.yaml
https://github.com/autowarefoundation/autoware/actions/workflows/build-main-self-hosted.yaml

Related: https://github.com/pypa/pipx/issues/278

[2022-10-27 20:49] kenji-miyake commented on #2907
I guess it will be resolved if we move to Humble.
So, I'll stop `build-main-self-hosted` and mark this issue as not planned.

[2022-10-27 20:49] #2907 closed, assigned to nobody

[2022-11-23 08:32] pjj707278870 opened #3066 "using of road_edge in op_local_planner"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

    When I used theop_loca_planner function for local path planning, the roadedge from the vector_map seemed to be ineff

[2022-11-23 10:17] kenji-miyake commented on #3066
Seems to be duplicated.
https://github.com/autowarefoundation/autoware/discussions/3065

Please refrain from opening an issue if it's not a bug.

[2022-11-23 10:17] #3066 closed, assigned to nobody

[2022-11-24 11:51] TZECHIN6 opened #3069 "Rviz2 drops to 1-5fps when enabling pointcloud2 topic in planning simulation tutorial"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

I have created my own dockerfile (base image: nvidia/cuda:11.6.2-cudnn8-devel-ubuntu20.04), basically I follow the manua

[2022-11-28 05:16] tkhmy opened #3232 "Create api for vehicle status"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

Hi, currently autoware do not have any api that can monitor the vehicle status, if an user or application want

[2022-11-29 04:08] TZECHIN6 opened #3073 "Rviz2 core dumped issue"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I'm convinced that this is not my fault but a bug.

### Description

## Description

After building the image, and start rviz2, an error occurs. Double checked other GUI application (rqt_gr

[2022-11-29 16:54] BonoloAWF commented on #3069
@TZECHIN6 please post your question here https://github.com/orgs/autowarefoundation/discussions/categories/q-a for faster assistance

[2022-11-30 01:42] TZECHIN6 commented on #3069
@BonoloAWF Thanks for the advice, will do it now.

[2022-11-30 08:57] mitsudome-r opened #3083 "Transition to Humble"
### Checklist

- [X] I've read the [contribution guidelines](https://github.com/autowarefoundation/autoware/blob/main/CONTRIBUTING.md).
- [X] I've searched other issues and no duplicate issues were found.
- [X] I've agreed with the maintainers that I can plan this task.

### Description

We would like to transition to Humble from Galactic in the main branch since ROS 2 Galactic is reaching EOL.
ht

[2022-11-30 10:22] mitsudome-r commented on #3083
I've heard that we would like to merge https://github.com/autowarefoundation/autoware.universe/pull/2370 before branching out galactic.
We will wait until tomorrow before starting the above tasks.